.custome-footer{
    background-image: url("../../assets/home_assets/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.custome-footer a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}